# 0. Load imports

In [1]:
## imports
import pandas as pd
import numpy as np
import re

## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")

# 1. Questions: list comprehension

- In class example, why did we need the "courses" at the beginning of the list iteration
- How did the join syntax work in the example where we paste together offenses from same ward

In [2]:
## toy example

### pool of courses
all_courses = ["QSS20", "QSS17", "GOV10", "GOV4", "CSC1"]

## 1.1 Application 1: filtering to a smaller list

When we might use: have a lot of columns in a dataframe; want to filter to a smaller set using some pattern

In [3]:
### pull out ones that contain GOV in the string
gov_c = [course for course in all_courses if "GOV" in course]
gov_c # result

['GOV10', 'GOV4']

In [4]:
### showing that the "course" is just a placeholder/
### arbitrary interator
gov_c_alt = [x for x in all_courses if "GOV" in x]

gov_c == gov_c_alt

True

## 1.2 Application two: keep all objects in the list but do some transformation

In [5]:
all_courses

## strip the numbers from the course names
courses_prefix = [x[:3] for x in all_courses]
courses_prefix # could then find unique elements

['QSS20', 'QSS17', 'GOV10', 'GOV4', 'CSC1']

['QSS', 'QSS', 'GOV', 'GOV', 'CSC']

In [6]:
# Join all together example
" #:(# ".join(courses_prefix)

'QSS #:(# QSS #:(# GOV #:(# GOV #:(# CSC'

#### Your turn: Using original list, add "dartmouth_" prefix to the course name

In [21]:
[ "dartmouth_" + x for x in all_courses ]

['dartmouth_QSS20',
 'dartmouth_QSS17',
 'dartmouth_GOV10',
 'dartmouth_GOV4',
 'dartmouth_CSC1']

## 1.3 Subsetting columns

Use list comprehension to filter to columns with id in the string. Then, create a new dataframe called df1 that contains only column heads with "id"

In [7]:
id_cols = [col for col in df.columns if "ID" in col]
id_cols

## Then, filter the data
df[id_cols]

['BID', 'OBJECTID', 'OCTO_RECORD_ID']

                   BID   OBJECTID  OCTO_RECORD_ID
0                  NaN  595556840             NaN
1             DOWNTOWN  595560645             NaN
2                  NaN  595560647             NaN
3      GOLDEN TRIANGLE  595560654             NaN
4                  NaN  595560828             NaN
...                ...        ...             ...
27926              NaN  596085252             NaN
27927              NaN  596085253             NaN
27928              NaN  596085258             NaN
27929         DOWNTOWN  596085259             NaN
27930              NaN  596086062             NaN

[27931 rows x 3 columns]

## 1.4 Comprehension for numbers

Here we compare two ways of creating a list of even numbers.

In [8]:
num_list = np.arange(10000)
num_list

array([   0,    1,    2, ..., 9997, 9998, 9999])

In [9]:
%%time
even_nums = [i for i in num_list if (i % 2) == 0]

CPU times: user 5.77 ms, sys: 330 Âµs, total: 6.1 ms
Wall time: 7.24 ms

In [10]:
%%time
num_list[~(num_list % 2).astype(bool)]

CPU times: user 1.51 ms, sys: 1.54 ms, total: 3.05 ms
Wall time: 2.24 ms

array([   0,    2,    4, ..., 9994, 9996, 9998])

In [16]:
num_list[ ~(num_list % 2).astype(bool) ]

array([   0,    2,    4, ..., 9994, 9996, 9998])

#### Your turn: Extract all numbers in num_list that end in 7

In [26]:
%%time
end_seven = [i for i in num_list if (i%10) == 7]
# end_seven

CPU times: user 10 ms, sys: 433 Âµs, total: 10.5 ms
Wall time: 11.6 ms

In [27]:
%%time
end_seven = [x for x in num_list if str(x)[-1] == "7"]
# end_seven

CPU times: user 13.7 ms, sys: 4.29 ms, total: 18 ms
Wall time: 19.4 ms

In [29]:
%%time
aa = num_list[num_list % 10 == 7]

CPU times: user 840 Âµs, sys: 158 Âµs, total: 998 Âµs
Wall time: 858 Âµs

#### Your turn: Divide each number  in num_list by 2

In [37]:
divide_two = [int( i/2 ) for i in num_list]
divide_two

[0,
 0,
 1,
 1,
 2,
 2,
 3,
 3,
 4,
 4,
 5,
 5,
 6,
 6,
 7,
 7,
 8,
 8,
 9,
 9,
 10,
 10,
 11,
 11,
 12,
 12,
 13,
 13,
 14,
 14,
 15,
 15,
 16,
 16,
 17,
 17,
 18,
 18,
 19,
 19,
 20,
 20,
 21,
 21,
 22,
 22,
 23,
 23,
 24,
 24,
 25,
 25,
 26,
 26,
 27,
 27,
 28,
 28,
 29,
 29,
 30,
 30,
 31,
 31,
 32,
 32,
 33,
 33,
 34,
 34,
 35,
 35,
 36,
 36,
 37,
 37,
 38,
 38,
 39,
 39,
 40,
 40,
 41,
 41,
 42,
 42,
 43,
 43,
 44,
 44,
 45,
 45,
 46,
 46,
 47,
 47,
 48,
 48,
 49,
 49,
 50,
 50,
 51,
 51,
 52,
 52,
 53,
 53,
 54,
 54,
 55,
 55,
 56,
 56,
 57,
 57,
 58,
 58,
 59,
 59,
 60,
 60,
 61,
 61,
 62,
 62,
 63,
 63,
 64,
 64,
 65,
 65,
 66,
 66,
 67,
 67,
 68,
 68,
 69,
 69,
 70,
 70,
 71,
 71,
 72,
 72,
 73,
 73,
 74,
 74,
 75,
 75,
 76,
 76,
 77,
 77,
 78,
 78,
 79,
 79,
 80,
 80,
 81,
 81,
 82,
 82,
 83,
 83,
 84,
 84,
 85,
 85,
 86,
 86,
 87,
 87,
 88,
 88,
 89,
 89,
 90,
 90,
 91,
 91,
 92,
 92,
 93,
 93,
 94,
 94,
 95,
 95,
 96,
 96,
 97,
 97,
 98,
 98,
 99,
 99,
 100,
 100,
 101,
 101,
 102,
 102,
 103,
 103,
 104,
 104,
 105,
 105,
 106,
 106,
 107,
 107,
 108,
 108,
 109,
 109,
 110,
 110,
 111,
 111,
 112,
 112,
 113,
 113,
 114,
 114,
 115,
 115,
 116,
 116,
 117,
 117,
 118,
 118,
 119,
 119,
 120,
 120,
 121,
 121,
 122,
 122,
 123,
 123,
 124,
 124,
 125,
 125,
 126,
 126,
 127,
 127,
 128,
 128,
 129,
 129,
 130,
 130,
 131,
 131,
 132,
 132,
 133,
 133,
 134,
 134,
 135,
 135,
 136,
 136,
 137,
 137,
 138,
 138,
 139,
 139,
 140,
 140,
 141,
 141,
 142,
 142,
 143,
 143,
 144,
 144,
 145,
 145,
 146,
 146,
 147,
 147,
 148,
 148,
 149,
 149,
 150,
 150,
 151,
 151,
 152,
 152,
 153,
 153,
 154,
 154,
 155,
 155,
 156,
 156,
 157,
 157,
 158,
 158,
 159,
 159,
 160,
 160,
 161,
 161,
 162,
 162,
 163,
 163,
 164,
 164,
 165,
 165,
 166,
 166,
 167,
 167,
 168,
 168,
 169,
 169,
 170,
 170,
 171,
 171,
 172,
 172,
 173,
 173,
 174,
 174,
 175,
 175,
 176,
 176,
 177,
 177,
 178,
 178,
 179,
 179,
 180,
 180,
 181,
 181,
 182,
 182,
 183,
 183,
 184,
 184,
 185,
 185,
 186,
 186,
 187,
 187,
 188,
 188,
 189,
 189,
 190,
 190,
 191,
 191,
 192,
 192,
 193,
 193,
 194,
 194,
 195,
 195,
 196,
 196,
 197,
 197,
 198,
 198,
 199,
 199,
 200,
 200,
 201,
 201,
 202,
 202,
 203,
 203,
 204,
 204,
 205,
 205,
 206,
 206,
 207,
 207,
 208,
 208,
 209,
 209,
 210,
 210,
 211,
 211,
 212,
 212,
 213,
 213,
 214,
 214,
 215,
 215,
 216,
 216,
 217,
 217,
 218,
 218,
 219,
 219,
 220,
 220,
 221,
 221,
 222,
 222,
 223,
 223,
 224,
 224,
 225,
 225,
 226,
 226,
 227,
 227,
 228,
 228,
 229,
 229,
 230,
 230,
 231,
 231,
 232,
 232,
 233,
 233,
 234,
 234,
 235,
 235,
 236,
 236,
 237,
 237,
 238,
 238,
 239,
 239,
 240,
 240,
 241,
 241,
 242,
 242,
 243,
 243,
 244,
 244,
 245,
 245,
 246,
 246,
 247,
 247,
 248,
 248,
 249,
 249,
 250,
 250,
 251,
 251,
 252,
 252,
 253,
 253,
 254,
 254,
 255,
 255,
 256,
 256,
 257,
 257,
 258,
 258,
 259,
 259,
 260,
 260,
 261,
 261,
 262,
 262,
 263,
 263,
 264,
 264,
 265,
 265,
 266,
 266,
 267,
 267,
 268,
 268,
 269,
 269,
 270,
 270,
 271,
 271,
 272,
 272,
 273,
 273,
 274,
 274,
 275,
 275,
 276,
 276,
 277,
 277,
 278,
 278,
 279,
 279,
 280,
 280,
 281,
 281,
 282,
 282,
 283,
 283,
 284,
 284,
 285,
 285,
 286,
 286,
 287,
 287,
 288,
 288,
 289,
 289,
 290,
 290,
 291,
 291,
 292,
 292,
 293,
 293,
 294,
 294,
 295,
 295,
 296,
 296,
 297,
 297,
 298,
 298,
 299,
 299,
 300,
 300,
 301,
 301,
 302,
 302,
 303,
 303,
 304,
 304,
 305,
 305,
 306,
 306,
 307,
 307,
 308,
 308,
 309,
 309,
 310,
 310,
 311,
 311,
 312,
 312,
 313,
 313,
 314,
 314,
 315,
 315,
 316,
 316,
 317,
 317,
 318,
 318,
 319,
 319,
 320,
 320,
 321,
 321,
 322,
 322,
 323,
 323,
 324,
 324,
 325,
 325,
 326,
 326,
 327,
 327,
 328,
 328,
 329,
 329,
 330,
 330,
 331,
 331,
 332,
 332,
 333,
 333,
 334,
 334,
 335,
 335,
 336,
 336,
 337,
 337,
 338,
 338,
 339,
 339,
 340,
 340,
 341,
 341,
 342,
 342,
 343,
 343,
 344,
 344,
 345,
 345,
 346,
 346,
 347,
 347,
 348,
 348,
 349,
 349,
 350,
 350,
 351,
 351,
 352,
 352,
 353,
 353,
 354,
 354,
 355,
 355,
 356,
 356,
 357,
 357,
 358,
 358,
 359,
 359,
 360,
 360,
 361,
 361,
 362,
 362,
 363,
 363,
 364,
 364,
 365,
 365,
 366,
 366,
 367,
 367,
 368,
 368,
 369,
 369,
 370,
 370,
 371,
 371,
 372,
 372,
 373,
 373,
 374,
 374,
 375,
 375,
 376,
 376,
 377,
 377,
 378,
 378,
 379,
 379,
 380,
 380,
 381,
 381,
 382,
 382,
 383,
 383,
 384,
 384,
 385,
 385,
 386,
 386,
 387,
 387,
 388,
 388,
 389,
 389,
 390,
 390,
 391,
 391,
 392,
 392,
 393,
 393,
 394,
 394,
 395,
 395,
 396,
 396,
 397,
 397,
 398,
 398,
 399,
 399,
 400,
 400,
 401,
 401,
 402,
 402,
 403,
 403,
 404,
 404,
 405,
 405,
 406,
 406,
 407,
 407,
 408,
 408,
 409,
 409,
 410,
 410,
 411,
 411,
 412,
 412,
 413,
 413,
 414,
 414,
 415,
 415,
 416,
 416,
 417,
 417,
 418,
 418,
 419,
 419,
 420,
 420,
 421,
 421,
 422,
 422,
 423,
 423,
 424,
 424,
 425,
 425,
 426,
 426,
 427,
 427,
 428,
 428,
 429,
 429,
 430,
 430,
 431,
 431,
 432,
 432,
 433,
 433,
 434,
 434,
 435,
 435,
 436,
 436,
 437,
 437,
 438,
 438,
 439,
 439,
 440,
 440,
 441,
 441,
 442,
 442,
 443,
 443,
 444,
 444,
 445,
 445,
 446,
 446,
 447,
 447,
 448,
 448,
 449,
 449,
 450,
 450,
 451,
 451,
 452,
 452,
 453,
 453,
 454,
 454,
 455,
 455,
 456,
 456,
 457,
 457,
 458,
 458,
 459,
 459,
 460,
 460,
 461,
 461,
 462,
 462,
 463,
 463,
 464,
 464,
 465,
 465,
 466,
 466,
 467,
 467,
 468,
 468,
 469,
 469,
 470,
 470,
 471,
 471,
 472,
 472,
 473,
 473,
 474,
 474,
 475,
 475,
 476,
 476,
 477,
 477,
 478,
 478,
 479,
 479,
 480,
 480,
 481,
 481,
 482,
 482,
 483,
 483,
 484,
 484,
 485,
 485,
 486,
 486,
 487,
 487,
 488,
 488,
 489,
 489,
 490,
 490,
 491,
 491,
 492,
 492,
 493,
 493,
 494,
 494,
 495,
 495,
 496,
 496,
 497,
 497,
 498,
 498,
 499,
 499,
 ...]

In [39]:
num_list / 2

[0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0,
 10.5,
 11.0,
 11.5,
 12.0,
 12.5,
 13.0,
 13.5,
 14.0,
 14.5,
 15.0,
 15.5,
 16.0,
 16.5,
 17.0,
 17.5,
 18.0,
 18.5,
 19.0,
 19.5,
 20.0,
 20.5,
 21.0,
 21.5,
 22.0,
 22.5,
 23.0,
 23.5,
 24.0,
 24.5,
 25.0,
 25.5,
 26.0,
 26.5,
 27.0,
 27.5,
 28.0,
 28.5,
 29.0,
 29.5,
 30.0,
 30.5,
 31.0,
 31.5,
 32.0,
 32.5,
 33.0,
 33.5,
 34.0,
 34.5,
 35.0,
 35.5,
 36.0,
 36.5,
 37.0,
 37.5,
 38.0,
 38.5,
 39.0,
 39.5,
 40.0,
 40.5,
 41.0,
 41.5,
 42.0,
 42.5,
 43.0,
 43.5,
 44.0,
 44.5,
 45.0,
 45.5,
 46.0,
 46.5,
 47.0,
 47.5,
 48.0,
 48.5,
 49.0,
 49.5,
 50.0,
 50.5,
 51.0,
 51.5,
 52.0,
 52.5,
 53.0,
 53.5,
 54.0,
 54.5,
 55.0,
 55.5,
 56.0,
 56.5,
 57.0,
 57.5,
 58.0,
 58.5,
 59.0,
 59.5,
 60.0,
 60.5,
 61.0,
 61.5,
 62.0,
 62.5,
 63.0,
 63.5,
 64.0,
 64.5,
 65.0,
 65.5,
 66.0,
 66.5,
 67.0,
 67.5,
 68.0,
 68.5,
 69.0,
 69.5,
 70.0,
 70.5,
 71.0,
 71.5,
 72.0,
 72.5,
 73.0,
 73.5,
 74.0,
 74.5,
 75.0,
 75.5,
 76.0,
 76.5,
 77.0,
 77.5,
 78.0,
 78.5,
 79.0,
 79.5,
 80.0,
 80.5,
 81.0,
 81.5,
 82.0,
 82.5,
 83.0,
 83.5,
 84.0,
 84.5,
 85.0,
 85.5,
 86.0,
 86.5,
 87.0,
 87.5,
 88.0,
 88.5,
 89.0,
 89.5,
 90.0,
 90.5,
 91.0,
 91.5,
 92.0,
 92.5,
 93.0,
 93.5,
 94.0,
 94.5,
 95.0,
 95.5,
 96.0,
 96.5,
 97.0,
 97.5,
 98.0,
 98.5,
 99.0,
 99.5,
 100.0,
 100.5,
 101.0,
 101.5,
 102.0,
 102.5,
 103.0,
 103.5,
 104.0,
 104.5,
 105.0,
 105.5,
 106.0,
 106.5,
 107.0,
 107.5,
 108.0,
 108.5,
 109.0,
 109.5,
 110.0,
 110.5,
 111.0,
 111.5,
 112.0,
 112.5,
 113.0,
 113.5,
 114.0,
 114.5,
 115.0,
 115.5,
 116.0,
 116.5,
 117.0,
 117.5,
 118.0,
 118.5,
 119.0,
 119.5,
 120.0,
 120.5,
 121.0,
 121.5,
 122.0,
 122.5,
 123.0,
 123.5,
 124.0,
 124.5,
 125.0,
 125.5,
 126.0,
 126.5,
 127.0,
 127.5,
 128.0,
 128.5,
 129.0,
 129.5,
 130.0,
 130.5,
 131.0,
 131.5,
 132.0,
 132.5,
 133.0,
 133.5,
 134.0,
 134.5,
 135.0,
 135.5,
 136.0,
 136.5,
 137.0,
 137.5,
 138.0,
 138.5,
 139.0,
 139.5,
 140.0,
 140.5,
 141.0,
 141.5,
 142.0,
 142.5,
 143.0,
 143.5,
 144.0,
 144.5,
 145.0,
 145.5,
 146.0,
 146.5,
 147.0,
 147.5,
 148.0,
 148.5,
 149.0,
 149.5,
 150.0,
 150.5,
 151.0,
 151.5,
 152.0,
 152.5,
 153.0,
 153.5,
 154.0,
 154.5,
 155.0,
 155.5,
 156.0,
 156.5,
 157.0,
 157.5,
 158.0,
 158.5,
 159.0,
 159.5,
 160.0,
 160.5,
 161.0,
 161.5,
 162.0,
 162.5,
 163.0,
 163.5,
 164.0,
 164.5,
 165.0,
 165.5,
 166.0,
 166.5,
 167.0,
 167.5,
 168.0,
 168.5,
 169.0,
 169.5,
 170.0,
 170.5,
 171.0,
 171.5,
 172.0,
 172.5,
 173.0,
 173.5,
 174.0,
 174.5,
 175.0,
 175.5,
 176.0,
 176.5,
 177.0,
 177.5,
 178.0,
 178.5,
 179.0,
 179.5,
 180.0,
 180.5,
 181.0,
 181.5,
 182.0,
 182.5,
 183.0,
 183.5,
 184.0,
 184.5,
 185.0,
 185.5,
 186.0,
 186.5,
 187.0,
 187.5,
 188.0,
 188.5,
 189.0,
 189.5,
 190.0,
 190.5,
 191.0,
 191.5,
 192.0,
 192.5,
 193.0,
 193.5,
 194.0,
 194.5,
 195.0,
 195.5,
 196.0,
 196.5,
 197.0,
 197.5,
 198.0,
 198.5,
 199.0,
 199.5,
 200.0,
 200.5,
 201.0,
 201.5,
 202.0,
 202.5,
 203.0,
 203.5,
 204.0,
 204.5,
 205.0,
 205.5,
 206.0,
 206.5,
 207.0,
 207.5,
 208.0,
 208.5,
 209.0,
 209.5,
 210.0,
 210.5,
 211.0,
 211.5,
 212.0,
 212.5,
 213.0,
 213.5,
 214.0,
 214.5,
 215.0,
 215.5,
 216.0,
 216.5,
 217.0,
 217.5,
 218.0,
 218.5,
 219.0,
 219.5,
 220.0,
 220.5,
 221.0,
 221.5,
 222.0,
 222.5,
 223.0,
 223.5,
 224.0,
 224.5,
 225.0,
 225.5,
 226.0,
 226.5,
 227.0,
 227.5,
 228.0,
 228.5,
 229.0,
 229.5,
 230.0,
 230.5,
 231.0,
 231.5,
 232.0,
 232.5,
 233.0,
 233.5,
 234.0,
 234.5,
 235.0,
 235.5,
 236.0,
 236.5,
 237.0,
 237.5,
 238.0,
 238.5,
 239.0,
 239.5,
 240.0,
 240.5,
 241.0,
 241.5,
 242.0,
 242.5,
 243.0,
 243.5,
 244.0,
 244.5,
 245.0,
 245.5,
 246.0,
 246.5,
 247.0,
 247.5,
 248.0,
 248.5,
 249.0,
 249.5,
 250.0,
 250.5,
 251.0,
 251.5,
 252.0,
 252.5,
 253.0,
 253.5,
 254.0,
 254.5,
 255.0,
 255.5,
 256.0,
 256.5,
 257.0,
 257.5,
 258.0,
 258.5,
 259.0,
 259.5,
 260.0,
 260.5,
 261.0,
 261.5,
 262.0,
 262.5,
 263.0,
 263.5,
 264.0,
 264.5,
 265.0,
 265.5,
 266.0,
 266.5,
 267.0,
 267.5,
 268.0,
 268.5,
 269.0,
 269.5,
 270.0,
 270.5,
 271.0,
 271.5,
 272.0,
 272.5,
 273.0,
 273.5,
 274.0,
 274.5,
 275.0,
 275.5,
 276.0,
 276.5,
 277.0,
 277.5,
 278.0,
 278.5,
 279.0,
 279.5,
 280.0,
 280.5,
 281.0,
 281.5,
 282.0,
 282.5,
 283.0,
 283.5,
 284.0,
 284.5,
 285.0,
 285.5,
 286.0,
 286.5,
 287.0,
 287.5,
 288.0,
 288.5,
 289.0,
 289.5,
 290.0,
 290.5,
 291.0,
 291.5,
 292.0,
 292.5,
 293.0,
 293.5,
 294.0,
 294.5,
 295.0,
 295.5,
 296.0,
 296.5,
 297.0,
 297.5,
 298.0,
 298.5,
 299.0,
 299.5,
 300.0,
 300.5,
 301.0,
 301.5,
 302.0,
 302.5,
 303.0,
 303.5,
 304.0,
 304.5,
 305.0,
 305.5,
 306.0,
 306.5,
 307.0,
 307.5,
 308.0,
 308.5,
 309.0,
 309.5,
 310.0,
 310.5,
 311.0,
 311.5,
 312.0,
 312.5,
 313.0,
 313.5,
 314.0,
 314.5,
 315.0,
 315.5,
 316.0,
 316.5,
 317.0,
 317.5,
 318.0,
 318.5,
 319.0,
 319.5,
 320.0,
 320.5,
 321.0,
 321.5,
 322.0,
 322.5,
 323.0,
 323.5,
 324.0,
 324.5,
 325.0,
 325.5,
 326.0,
 326.5,
 327.0,
 327.5,
 328.0,
 328.5,
 329.0,
 329.5,
 330.0,
 330.5,
 331.0,
 331.5,
 332.0,
 332.5,
 333.0,
 333.5,
 334.0,
 334.5,
 335.0,
 335.5,
 336.0,
 336.5,
 337.0,
 337.5,
 338.0,
 338.5,
 339.0,
 339.5,
 340.0,
 340.5,
 341.0,
 341.5,
 342.0,
 342.5,
 343.0,
 343.5,
 344.0,
 344.5,
 345.0,
 345.5,
 346.0,
 346.5,
 347.0,
 347.5,
 348.0,
 348.5,
 349.0,
 349.5,
 350.0,
 350.5,
 351.0,
 351.5,
 352.0,
 352.5,
 353.0,
 353.5,
 354.0,
 354.5,
 355.0,
 355.5,
 356.0,
 356.5,
 357.0,
 357.5,
 358.0,
 358.5,
 359.0,
 359.5,
 360.0,
 360.5,
 361.0,
 361.5,
 362.0,
 362.5,
 363.0,
 363.5,
 364.0,
 364.5,
 365.0,
 365.5,
 366.0,
 366.5,
 367.0,
 367.5,
 368.0,
 368.5,
 369.0,
 369.5,
 370.0,
 370.5,
 371.0,
 371.5,
 372.0,
 372.5,
 373.0,
 373.5,
 374.0,
 374.5,
 375.0,
 375.5,
 376.0,
 376.5,
 377.0,
 377.5,
 378.0,
 378.5,
 379.0,
 379.5,
 380.0,
 380.5,
 381.0,
 381.5,
 382.0,
 382.5,
 383.0,
 383.5,
 384.0,
 384.5,
 385.0,
 385.5,
 386.0,
 386.5,
 387.0,
 387.5,
 388.0,
 388.5,
 389.0,
 389.5,
 390.0,
 390.5,
 391.0,
 391.5,
 392.0,
 392.5,
 393.0,
 393.5,
 394.0,
 394.5,
 395.0,
 395.5,
 396.0,
 396.5,
 397.0,
 397.5,
 398.0,
 398.5,
 399.0,
 399.5,
 400.0,
 400.5,
 401.0,
 401.5,
 402.0,
 402.5,
 403.0,
 403.5,
 404.0,
 404.5,
 405.0,
 405.5,
 406.0,
 406.5,
 407.0,
 407.5,
 408.0,
 408.5,
 409.0,
 409.5,
 410.0,
 410.5,
 411.0,
 411.5,
 412.0,
 412.5,
 413.0,
 413.5,
 414.0,
 414.5,
 415.0,
 415.5,
 416.0,
 416.5,
 417.0,
 417.5,
 418.0,
 418.5,
 419.0,
 419.5,
 420.0,
 420.5,
 421.0,
 421.5,
 422.0,
 422.5,
 423.0,
 423.5,
 424.0,
 424.5,
 425.0,
 425.5,
 426.0,
 426.5,
 427.0,
 427.5,
 428.0,
 428.5,
 429.0,
 429.5,
 430.0,
 430.5,
 431.0,
 431.5,
 432.0,
 432.5,
 433.0,
 433.5,
 434.0,
 434.5,
 435.0,
 435.5,
 436.0,
 436.5,
 437.0,
 437.5,
 438.0,
 438.5,
 439.0,
 439.5,
 440.0,
 440.5,
 441.0,
 441.5,
 442.0,
 442.5,
 443.0,
 443.5,
 444.0,
 444.5,
 445.0,
 445.5,
 446.0,
 446.5,
 447.0,
 447.5,
 448.0,
 448.5,
 449.0,
 449.5,
 450.0,
 450.5,
 451.0,
 451.5,
 452.0,
 452.5,
 453.0,
 453.5,
 454.0,
 454.5,
 455.0,
 455.5,
 456.0,
 456.5,
 457.0,
 457.5,
 458.0,
 458.5,
 459.0,
 459.5,
 460.0,
 460.5,
 461.0,
 461.5,
 462.0,
 462.5,
 463.0,
 463.5,
 464.0,
 464.5,
 465.0,
 465.5,
 466.0,
 466.5,
 467.0,
 467.5,
 468.0,
 468.5,
 469.0,
 469.5,
 470.0,
 470.5,
 471.0,
 471.5,
 472.0,
 472.5,
 473.0,
 473.5,
 474.0,
 474.5,
 475.0,
 475.5,
 476.0,
 476.5,
 477.0,
 477.5,
 478.0,
 478.5,
 479.0,
 479.5,
 480.0,
 480.5,
 481.0,
 481.5,
 482.0,
 482.5,
 483.0,
 483.5,
 484.0,
 484.5,
 485.0,
 485.5,
 486.0,
 486.5,
 487.0,
 487.5,
 488.0,
 488.5,
 489.0,
 489.5,
 490.0,
 490.5,
 491.0,
 491.5,
 492.0,
 492.5,
 493.0,
 493.5,
 494.0,
 494.5,
 495.0,
 495.5,
 496.0,
 496.5,
 497.0,
 497.5,
 498.0,
 498.5,
 499.0,
 499.5,
 ...]

# 2. Questions: lambda functions

Two questions:

- General syntax (see here for a reference: https://www.w3schools.com/python/python_lambda.asp 
- How they work in the context of aggregations

How is a lambda function different from a "normal" user-defined function (that has the syntax def func_name(arg): etc?

- Operates similarly to normal user-defined functions in that it can take any # of arguments
- Operates differently in that it's an "anonymous" function or a function that we don't explicitly name/save in memory

In [17]:
def f1(x,y):
    return x+y

f2 = lambda x, y: x+y

f1(2,1)
f2(2,1)

3

3

In [18]:
f1("hi", " world")

'hi world'

## 2.1 General syntax for lambda functions

In [36]:
### two pools of courses
socsci = ["QSS20", "QSS17", "GOV10"]
natsci = ["BIO2", "PHYS3"]


## generalize some of the steps
## above into a two-arg function
## that takes the course prefix
## and a list of all courses
def filter_courses(prefix, all_courses):
    rel_courses = [c for c in all_courses if prefix in c]
    return(rel_courses)

### a few applications 
filter_courses(prefix = "QSS", all_courses = socsci)
filter_courses(prefix = "QSS", all_courses = natsci)
filter_courses(prefix = "BIO", all_courses = natsci)

In [ ]:
## what's the lambda function version of this
filter_courses_v2 = lambda prefix, all_courses: [c for c in all_courses if prefix in c]
filter_courses_v2(prefix = "BIO", all_courses = natsci)

## 2.2 using alongside agg

In [50]:
## use lambda to find modal block in a ward- multiple ways

### way 1: subsetting agg syntex
df.groupby("WARD")["BLOCK"].agg(lambda x: x.mode())

### way 2: dictionary agg syntax
df.groupby("WARD").agg({"BLOCK": lambda x: x.mode()})

WARD
1           3100 - 3299 BLOCK OF 14TH STREET NW
2    1300 - 1699 BLOCK OF CONNECTICUT AVENUE NW
3      5300 - 5399 BLOCK OF WISCONSIN AVENUE NW
4          100 - 199 BLOCK OF CARROLL STREET NW
5     900 - 999 BLOCK OF RHODE ISLAND AVENUE NE
6                600 - 699 BLOCK OF H STREET NE
7         934 - 1099 BLOCK OF EASTERN AVENUE NE
8        2300 - 2399 BLOCK OF GOOD HOPE ROAD SE
Name: BLOCK, dtype: object

                                           BLOCK
WARD
1            3100 - 3299 BLOCK OF 14TH STREET NW
2     1300 - 1699 BLOCK OF CONNECTICUT AVENUE NW
3       5300 - 5399 BLOCK OF WISCONSIN AVENUE NW
4           100 - 199 BLOCK OF CARROLL STREET NW
5      900 - 999 BLOCK OF RHODE ISLAND AVENUE NE
6                 600 - 699 BLOCK OF H STREET NE
7          934 - 1099 BLOCK OF EASTERN AVENUE NE
8         2300 - 2399 BLOCK OF GOOD HOPE ROAD SE

#### Your turn: Group by WARD and get the mean and standard deviation (std) of X and Y

In [40]:
df.groupby("WARD").agg({
    "X" : ["mean", "std"],
    "Y" : ["mean", "std"],
})

              X                    Y
           mean       std       mean       std
WARD
1    -77.031256  0.007200  38.924716  0.006417
2    -77.038959  0.014106  38.905941  0.005360
3    -77.075320  0.013408  38.941557  0.013887
4    -77.024905  0.011813  38.957674  0.013923
5    -76.989451  0.014957  38.920249  0.012766
6    -77.001175  0.011302  38.893112  0.010021
7    -76.947402  0.018753  38.888669  0.012504
8    -76.988986  0.012791  38.850526  0.015775

In [43]:
df.groupby("WARD")[["X", "Y"]].agg(["mean", "std"])

              X                    Y
           mean       std       mean       std
WARD
1    -77.031256  0.007200  38.924716  0.006417
2    -77.038959  0.014106  38.905941  0.005360
3    -77.075320  0.013408  38.941557  0.013887
4    -77.024905  0.011813  38.957674  0.013923
5    -76.989451  0.014957  38.920249  0.012766
6    -77.001175  0.011302  38.893112  0.010021
7    -76.947402  0.018753  38.888669  0.012504
8    -76.988986  0.012791  38.850526  0.015775